body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-image: url(image/pexels-rovenimages-com-344613-949587.jpg);
    
}

#container{
    margin: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 550px;
    height: 550px;
    background-color: white;
    border: 20px solid beige;
    
    
}

#squaredivs{
    
    border: 1px solid black ;
    box-sizing: border-box;

}
button{
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    background-color: transparent;
    color: antiquewhite;
}

#gridSize:hover{
    cursor: pointer;
    background-color: transparent;
    color: antiquewhite;
  
}

#clearGrid:hover{
    cursor: pointer;
    background-color: transparent;
    color: wheat;
    
}


#buttons{
    margin-top: 70px;
    display: flex;
    text-align: center;
    gap: 10px;
}